@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap');


body {
    background-image: url(images/BG_mobi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    opacity: 0.9;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 600;
    opacity: 0.9;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 600;
    opacity: 0.9;
    margin-bottom: 20px;
}

h3.h3s {
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
}

p,
.flex-contact-links a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
}


.container {
    max-width: 1200px;
    padding: 40px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 24px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.flex_maps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.flex_maps h3 {
    text-align: center;
}

iframe {
    border-radius: 28px;
    overflow: hidden;
}

.h2-our_contacts {
    margin-bottom: 0;
}

.flex_masters-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
     width: 100%;
}

.flex_master-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ava {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 40px;
}

.flex-social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.social-icon {
    width: 64px;
    height: 64px;
}

.flex-contact-links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-contact-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
}

.whatsapp {
    background: #25D366;
    transition: background-color 0.3s ease;
}

.whatsapp:hover {
    background: #128C7E;
}

.telegram {
    background: #0088cc;
    transition: background-color 0.3s ease;
}

.telegram:hover {
    background: #006699;
}

a.facebook {
    background: #1877F2;
    margin-bottom: 0;
    transition: background-color 0.3s ease;
}

.facebook:hover {
    background: #0e5a9e;
}

/* .flex-end-links {} */

.flex-site1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #FF8C00;
    height: 64px;
    border-radius: 32px;
    transition: background-color 0.3s ease;
}

.flex-site1:hover {
    background-color: #bd6902;
}

.flex-site1 img {
    width: 44px;
    height: 44px;
}

.flex-site1 a {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 950px) {
    .flex_masters-container {
        flex-direction: column;
    }
}